---
import { ViewTransitions } from "astro:transitions";
import "../assets/font-face.css";
import "../assets/global.css";

---

<!-- --ACS-- -->
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/faviconw.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>WhatsApp</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- --CCS-- -->
<style>
	body {
		width: 100%;
		height 100vh;
		color: var(--cl-blanco-sld-texto);
		background-color: var(--cl-gris-fondo-display);
	}
</style>
